<ion-header >
	<ion-toolbar color="primary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content >
	<ion-list>
<ion-card class='styledeath' >
<p > Type the name of the Character to know how many people they kill!</p>
</ion-card>
		<ion-searchbar [(ngModel)]="search" (ionChange)="onSearchChange($event)" class='Sdeath'></ion-searchbar>

		<ion-item button *ngFor="let death of (deaths | async)">
			<ion-avatar slot="start">

			</ion-avatar>

			<ion-label text-wrap>
				{{ death.name }}
				{{death.deathCount}}
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>