<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ character?.name }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-card *ngIf="character">

         <!--  title: information -->
		<ion-card-content>
			<h2> Name: {{ character.name }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2> Nickname: {{ character.nickname }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2>Birthday: {{ character.birthday }} </h2>
		</ion-card-content>

        </ion-card>
</ion-content>

</ion-content>