<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>

		<ion-title>{{ episode?.title }}</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="favouriteEp() " *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>

			<ion-button (click)=" unfavouriteEp()" *ngIf="isFavourite">
				<ion-icon name="star" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

	<ion-card *ngIf="episode">

		<!--  title: information -->
		<ion-card-content>
			<h2>Name:{{ episode.title }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2>Nickname:{{ episode.nickname }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2> Season:{{ episode.season }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2>Episodio: {{ episode.episode }} </h2>
		</ion-card-content>

		<ion-card-content>
			<h2>Realease date: {{ episode.air_date }} </h2>
		</ion-card-content>
	</ion-card>
</ion-content>